name: Metrics

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate metrics.svg
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ${{ github.repository_owner }}
          template: classic
          filename: metrics.svg
          base: header, repositories
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_notable: yes
          plugin_topics: yes
